@font-face {
  font-family: 'Terminus TTF';
  src: url('TerminusTTF.ttf') format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
  color: #E1E1E1;
}

p {
  white-space: pre-wrap;
  margin-top: 0;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin-bottom: 0;
}

a:link {
  color: #FFFF00;
}

a:visited {
  color: #FFFF00;
}

a:hover {
  color: #FFFF00;
}

a:active {
  color: #FFFF00;
}

pre code.hljs {
 overflow-x: hidden;
 display: inline-block;
}

code {
  background: #202746;
  padding: 0 4px;
  margin: 0 -4px;
}

.sourceCode {
  overflow-y: hidden;
  overflow-x: hidden;
}

div.sourceCode > pre.sourceCode {
  margin-top: 0;
  max-height: 20rem;
  overflow: auto;
}

div.sourceCode {
  overflow-y: hidden;
  overflow-x: hidden;
}

.copy-code-block-button {
  width: 100%;
}


img,
video {
  max-width: 100%;
}

.layout {
  display: flex;
  height: 100%;
}

.side {
  min-width: 240px;
  max-width: 25%;
  background: #4f2b77;
  overflow-y: scroll;
  direction: rtl;
}

.side * {
  direction: ltr;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #34135A;
  padding: 1rem;
  box-sizing: border-box;
}

ul.navtree {
  padding-left: 20px;
  padding-right: 5px;
}

ul li .navtree {
  list-style-type: disc;
}