:root {
    /* Colors */
    --color-text: #E4E0EB;
    --color-heading: #FFFFFF;
    --color-link: #F6E748;
    --color-link-active: #ffde00;
    --color-code-bg: #1F2442;
    --color-side-bg: #543182;
    --color-content-bg: #3A1C63;
    --color-hover-link: color-mix(in srgb, var(--color-link) 40%, white);
    --color-hover-link-bg: rgba(255, 255, 255, 0.12);
    --color-quote-bg: color-mix(in srgb, var(--color-side-bg) 33%, transparent);
    --side-box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);

    /* Fonts */
    --font-body: Calibri, serif;
    --font-heading: Calibri, serif;
    --font-code: 'Terminus TTF', monospace;

    /* Sizing */
    --font-h1: 4rem;
    --font-h2: 3rem;
    --font-h3: 2.5rem;
    --font-h4: 2rem;
    --font-p: 1.5rem;

    /* Layout */
    --side-min-width: 240px;
    --side-max-width: 25%;
    --side-padding: 0 0 0 1rem;

    /* Icons */
    --theme-icon: url("#ROOT_PATH#/icon_theme_dark.png");
    --github-icon: url("#ROOT_PATH#/github-mark-white.svg");
    --discord-icon: url("#ROOT_PATH#/Discord-Symbol-White.svg");
}

.light {
    --color-text: #2D2342;
    --color-heading: #3A1C63;
    --color-link: #7e6b00;
    --color-link-active: #FFD600;
    --color-code-bg: #F3F0FF;
    --color-side-bg: #efe1ff;
    --color-content-bg: #F8F6FF;
    --color-hover-link: color-mix(in srgb, var(--color-link) 40%, #3a1c63);
    --color-hover-link-bg: rgba(126, 67, 0, 0.12);
    --color-quote-bg: color-mix(in srgb, var(--color-side-bg) 33%, transparent);
    --side-box-shadow: 0 0 5px 5px rgb(213 193 233 / 60%);

    /* Icons */
    --theme-icon: url("#ROOT_PATH#/icon_theme_light.png");
    --github-icon: url("#ROOT_PATH#/github-mark.svg");
    --discord-icon: url("#ROOT_PATH#/Discord-Symbol-Black.svg");
}

.two {
    --color-text: #F55;
    --color-heading: #F55;
    --color-link: #FFCC00;
    --color-link-active: #FFCC00;
    --color-code-bg: #200200;
    --color-side-bg: #200200;
    --color-content-bg: #000;
    --color-hover-link: #FFF;
    --color-hover-link-bg: rgba(221, 95, 13, 0.33);
    --color-quote-bg: #200200;
    --side-box-shadow: 0 0 5px 5px rgb(32 2 0 / 60%);
    
    /* Icons */
    --theme-icon: url("#ROOT_PATH#/icon_theme_two.png");
    --github-icon: url("#ROOT_PATH#/github-mark-white.svg");
    --discord-icon: url("#ROOT_PATH#/Discord-Symbol-White.svg");
}

hr {
    height: 2px;
    border: none;
    background-color: var(--color-heading);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-width: 0;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--color-link), transparent 50%);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

*:hover {
    &::-webkit-scrollbar-track {
        /*background: rgba(0, 0, 0, 0.2);*/
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-link);
        border: 2px solid transparent;
        background-clip: content-box;
    }
}

@supports (-moz-appearance: none) {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-link) transparent;
    }
}

html,
body {
    font-size: 14px;
    font-family: Calibri, serif;
    height: 100%;
    margin: 0;
    color: var(--color-text);
    overflow: hidden;
    background: var(--color-content-bg);
}

p {
    white-space: pre-wrap;
    margin-top: 0;
    font-size: var(--font-p);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    margin-bottom: 0;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

blockquote {
    border-left-width: 0.25rem;
    border-left-style: solid;
    border-left-color: var(--color-text);
    padding-left: 0.5rem;
    background: var(--color-quote-bg);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--color-link);
}

pre {
    position: relative;
}

.copy-code-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 2px 8px;
    font-size: 0.8em;
    cursor: pointer;
    z-index: 2;
    outline: none;
    border: 1px solid var(--color-link);
    color: var(--color-link);
    border-radius: 3px;
    background-color: var(--color-side-bg);
}

code {
    background: var(--color-code-bg);
    padding: 0 4px;
    margin: 0 -4px;
    max-height: 20rem;
}

.copy-code-block-button {
    display: block;
}


img,
video {
    max-width: 100%;
}

.layout {
    display: flex;
    height: 100%;
}

.header {
    width: 100%;
    background: var(--color-side-bg);
    z-index: 1;
    position: relative;
}

/*Aside*/

.side {
    font-size: 1rem;
    padding: var(--side-padding);
    min-width: var(--side-min-width);
    max-width: var(--side-max-width);
    background: var(--color-side-bg);
    overflow-y: auto;
    direction: rtl;
    box-shadow: var(--side-box-shadow);
}

.side.active {
    transform: translateX(0);
    box-shadow: 0 0 50px 5px rgb(0 0 0 / 30%);
}

.side * {
    direction: ltr;
}

.content {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    z-index: 1;
    padding: 1rem;
    box-sizing: border-box;
}

ul.navtree {
    list-style: none;
    padding-left: 1rem;
    margin-left: 0;
    padding-right: 5px;
}

ul.navtree li {
    margin: 0.2rem 0;
}

ul.navtree li a.navtree,
ul.navtree li span.navtree {
    display: block;
    padding: 0.3rem 0.4rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.15s ease, color 0.15s ease;
    /*border-left: 1px solid transparent;*/
}

ul.navtree li.navtree.parent a.navtree {
    /*padding-left: 0.8rem;*/
}

main.content li {
    white-space: pre-wrap;
    font-size: var(--font-p);
}

.navtree.parent>a::before {
    content: "▼";
    display: inline-block;
    margin-left: -1.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
}

/* Hover styles */
ul.navtree li a.navtree:hover {
    background: var(--color-hover-link-bg);
    color: var(--color-hover-link);
}

ul.navtree li a.navtree[selected="true"] {
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: bold;
    /*border-radius: 0 4px 4px 0;*/
    /*color: var(--color-link-active);*/
    /*border-left: 2px solid var(--color-link-active);*/
}

.btn-primary {
    background: var(--color-side-bg);
    color: var(--color-link);
    border: none;
    border-radius: 20%;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: background 0.2s, color 0.2s;
    margin: 0 0.5rem 0 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: inline-block;
}

#hamburger-menu {
    display: none;
}

#side-backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}


#header,
span {
    display: inline-block;
}

#ee {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    max-height: 100%;
    pointer-events: none;
}

#theme-toggle {
    background-image: var(--theme-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

#github-icon {
    background-image: var(--github-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

#discord-icon {
    background-image: var(--discord-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

@media (max-device-width: 600px) or (max-width: 600px) {
    .side {
        min-width: var(--side-min-width);
        max-width: 80vw;
        transition: transform 0.3s cubic-bezier(.4, 0, .2, 1), box-shadow 0.3s;
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 5;
    }

    #hamburger-menu {
        display: inline-block;
    }
}

#header-title,
h1 {
    margin-top: 0;
}

.header-side {
    min-width: var(--side-min-width);
    max-width: var(--side-max-width);
    padding: var(--side-padding);
}

.hidden {
    display: none;
}